[submodule "circle-stdlib-rpi4"]
	path = circle-stdlib-rpi4
	url = https://github.com/smuehlst/circle-stdlib.git
[submodule "circle-stdlib-rpi3"]
	path = circle-stdlib-rpi3
	url = https://github.com/smuehlst/circle-stdlib.git
[submodule "circle-stdlib-rpi5"]
	path = circle-stdlib-rpi5
	url = https://github.com/smuehlst/circle-stdlib.git
